@import 'tailwindcss';

@font-face {
  font-family: 'Virgil';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Virgil.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  src:
    url('/fonts/roboto.woff2') format('woff2'),
    url('/fonts/roboto.woff') format('woff');
}

@theme {
  --font-virgil: 'Virgil', Arial, sans-serif;
  --font-orange: 'Cartoon', Arial, sans-serif;
  --font-roboto: 'Roboto', Arial, sans-serif;
}

@layer base {
  * {
    margin: 0;
  }

  body {
    width: 100%;
    min-height: 100dvh;
    background-color: var(--color-zinc-50);
    font-family: 'Roboto';
    display: grid;
    grid-template-rows: auto 1fr;
  }

  iconify-icon {
    display: block;
    color: var(--color-zinc-800);
  }

  input {
    accent-color: var(--color-zinc-800);
  }

  input:disabled,
  select:disabled,
  button:disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
  }
}
