@import 'tailwindcss';

@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Assistant/Assistant-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Assistant/Assistant-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Assistant/Assistant-SemiBold.ttf') format('ttf');
}

@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/Assistant/Assistant-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Virgil';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Virgil.woff2') format('woff2');
}

@theme {
  --font-virgil: 'Virgil', Arial, sans-serif;
  --font-assistant: 'Assistant', system-ui, BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif;
}

@layer base {
  * {
    margin: 0;
  }

  body {
    width: 100%;
    min-height: 100dvh;
    background-color: var(--color-zinc-50);
    font-family: var(--font-assistant);
    display: grid;
    grid-template-rows: auto 1fr;
  }

  iconify-icon {
    display: block;
    color: var(--color-zinc-800);
  }

  input {
    accent-color: var(--color-zinc-800);
  }

  input:disabled,
  select:disabled,
  button:disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
  }
}
